
@media screen and ( min-width: 992px ) {
    .container_home{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .titulo_home{
        color: rgb(97, 128, 250);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sessao_redator{
        width: 100%;
    }

    .created_at{
        font-size: 13px;
        font-style: italic;
        color: rgb(134, 134, 147);
        font-weight: bold;
        margin-left: 20px;
    }

    .created_at_linear{
        font-size: 13px;
        font-style: italic;
        color: rgb(134, 134, 147);
        font-weight: bold;   
    }

    .created_at_caixa{
        display: block;
    }

    .titulo_secao{
      padding: 5px 10px ;
      border:  1px solid black;
      display: inline-block;
      border-radius: 5px;
    }

/****  secao recentes  ****/

    .secao_recentes{
        margin-bottom: 50px;
        display: flex;
        margin-top: 30px;
    }   

    .recentes_home{
        width: 60%;
        border-radius: 5px;
        padding: 10px 0 30px 20px;
    }

    .recentes_home h1{
        color: black;
    }

    .recentes_caixa{
        width: 98%;
    }

    .recentes_caixa a{
        text-decoration: none;
        color: black;
        flex-wrap: wrap;
    }

    .recentes_caixa a:hover{
        text-decoration: none;
        color: rgb(25, 89, 228);
    }

    .img_recente{
        width: 100%;
        max-width: 700px;
        min-height: 300px;
        border-radius: 0px 3px 3px 3px;
        transition: transform 0.5s ease;
        display: flex;
    }

    .img_recente_caixa{
        display: inline-block;
        overflow: hidden;        
    }

    .img_recente_caixa:hover .img_recente{
        transform: scale(1.3);
        transition: transform 0.5s ease;
        
    }

    .titulo_recente{
        margin-bottom: 5px;
        font-size: 35px;
        letter-spacing: -2px;
    }

    .categoria_do_artigo{
        background: linear-gradient(to right, rgb(75, 123, 228) calc(100% - 10px), #363636 calc(100% - 10px));
        display: inline-block;
        color: white;
        padding: 3px 20px 2px 10px;
        border-radius: 3px 3px 0 0px;
        font-size: 12px;
    }

    .categoria_do_artigo_caixa{
        display: flex;
    }

/****  secao recente verticao  ****/
    .recentes_home_vertical{
        padding: 23px 0 30px 10px;
        border-radius: 5px;
        margin-left: 40px;
        width: 40%;
    }

    .img_titulo_recente_vertical{
        display: inline-block;
        overflow: hidden;
        width: 220px;
        height: 120px;
    }

      .created_at_caixa_vertical{
        width: 60%;
      }

    .recente_caixa_vertical a{
        color: black;
        text-decoration: none;
        display: flex;
    }

    .recente_caixa_vertical a:hover{
        color: rgb(50, 50, 254);
    }

    .img_destaque_vertical{
        width: 191px;
        height: 120px;

        border-radius: 0px 3px 3px 3px;
        transition: transform 0.5s ease;
        display: flex;
    }

    .titulo_recente_vertical{
        padding-left: 20px;
        height: 120px;
        letter-spacing: -0.5px;
    }

    .img_titulo_recente_vertical:hover .img_destaque_vertical {
        transform: scale(1.3);
        transition: transform 0.5s ease; 
      }

      .created_at_abaixo{
        font-size: 13px;
        font-style: italic;
        color: rgb(134, 134, 147);
        font-weight: bold;
        margin-left: 20px;
      }



/****  secao destaque  ****/
      .secao_destaque{
        width: 100%;
        margin-bottom: 50px;
      }

      .secao_destaque h1{
        color: black;
      }

      .card_destaque{
        width: 370px;
        max-height: 600px;
        margin: 15px 5px;
      }

      .img_card_destaque{
        width: 370px;
        height: 200px;
        border-radius: 0px 3px 3px 3px;
        transition: transform 0.5s ease;
        display: flex;
      }

      .img_card_destaque_caixa:hover .img_card_destaque{
        transform: scale(1.3);
        transition: transform 0.5s ease;
      }

      .img_card_destaque_caixa{
        display: inline-block;
        overflow: hidden;        
      }

      .card_caixa{
        display: flex;
        flex-wrap: wrap;      
      }

      .card_destaque a{
        color: black;
        text-decoration: none;
      }

      .card_destaque a:hover{
        color: rgb(50, 50, 254);
      }      

      .titulo_destaque{
        margin-bottom: 5px;
        font-size: 25px;

      }


/****  secao mais  ****/

    .secao_mais{
        margin-bottom: 50px;
    }

    .titulo_mais_artigo{
        color: black;
        padding: 5px 10px ;
        border:  1px solid black;
        display: inline-block;
        border-radius: 5px;
    }

      .card_mais_caixa{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
        margin-bottom: 40px;
      }

      .card_mais{
        margin-top: 20px;

      }

      .card_mais a{
        display: flex;
        font-size: 15px;
        text-decoration: none;
        color: black;
    }    
    
    .card_mais a:hover{
        color: rgb(25, 89, 228);
        text-decoration: none;
    }

    .recente_caixa_vertical a{
        width: 400px;
    }

      .img_card_mais{
        height: 170px;
        width: 100%;
        max-width: 3500px;
        border-radius: 0px 3px 3px 3px;
        display: flex;
        transition: transform 0.5s ease;
      }

      .img_card_mais_caixa{
        display: inline-block;
        overflow: hidden;
        width: 300px;
      }

      .img_card_mais_caixa:hover .img_card_mais{
        transform: scale(1.3);
        transition: transform 0.5s ease;
      }

      .titulo_mais{
        padding-left: 20px;
        width: 100%;
        max-width: 600px;
      }

      .created_at_caixa_mais{
        width: 700px;
      }

      .created_at_mais{
        font-size: 13px;
        font-style: italic;
        color: rgb(134, 134, 147);
        font-weight: bold;
        margin-left: 20px;
      }

/****  secao por artigo  ****/
    .secao_artigos{
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            margin-top: 30px;
        }

    .artigo_por_sesao{
        background: linear-gradient(to right, rgb(75, 123, 228) calc(100% - 10px), #363636 calc(100% - 10px));
        display: inline-block;
        color: white;
        padding: 3px 20px 2px 10px;
        border-radius: 3px 3px 0 0px;
        font-size: 12px;
      }

      .card_categoria{
        margin: 10px;
      }

    .img_por_secao{
        width: 100%;
        height: 200px;
        border-radius: 0px 3px 3px 3px;
        transition: transform 0.5s ease;
        display: flex;
    }

    .link_img_por_secao{
        display: inline-block;
        overflow: hidden;
        width: 360px;
    }

    .link_img_por_secao:hover .img_por_secao{
        transform: scale(1.3);
        transition: transform 0.5s ease;
    }

    .titulo_secao{
        color: black;
        padding: 5px 10px ;
        border:  1px solid black;
        display: inline-block;
        border-radius: 5px;
    }

    /**** imagem topo ****/
    .img_topo{
        width: 60px;
        height: 60px;
        position: fixed;
        top: 80vh;
        left: 95%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        filter: invert(10%);
        cursor: pointer;
    }

    .img_topo:hover{
        filter: invert(1%);
    }

    



}