.footer{
    background-color:#323131;
    padding: 70px 0px;
    margin-top: 40px;
}

.footer_site{
    color: rgb(35, 115, 235);
}

.footer_caixa{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer_grupo{
    display: flex;
}

.footer_redator{
    text-decoration: none;
    color: rgb(35, 115, 235);
}

.footer_categoria {
    padding: 0px 200px 0px 0px;
    color: rgb(35, 115, 235);
}

.footer_redator{
    margin: 0px 30px 0px 0px;
}

.footer_a{
    margin: 3px 0px;
    text-decoration: none;
    color: #787575;
}

.footer_a:hover{
  color: rgb(35, 115, 235);  
}

.footer_li{
    list-style: none;
}

.footer_adm_titulo{
    color: rgb(35, 115, 235);
}